
{% extends "quotekeeper/base.html" %}

{% block nav %} 
{% endblock %}

{% block app_style %}
{% load static from staticfiles %}
  <link rel="stylesheet" href="{% static "quotekeeper/signin.css"  %}" />
{% endblock %}

{% block intro %}
{% load widget_tweaks %}

<div id='intro'>

    {% if form.errors %}
    <p>Error. Please try again.</p>
    {% endif %}

    <h3>Password successfully changed</h3>
    <br> 
    <p><a class="button_style btn btn-default" href="{% url 'quotes:index' %}">Back to Quotes</a></p>

    
</div>
{% endblock %}

{% block content %}
{% endblock %}
