{% extends "quotes/quotes_base.html" %}

{% block content %}

<h3>Edit quote</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'quotes:edit' quote.id %}" method="post">
{% csrf_token %}
    <div class="form-group">
      <label for="textid">Quote Text</label>
      <textarea name="text" rows=10 cols=40 id="textid" class="form-control" />{{ quote.text }}</textarea>
    </div>
    <div class="form-group">
      <label for="authid">Author</label></p>
      <input type="text" name="author" id="authid" class="form-control" value="{{quote.author}}" />
    </div>
    <div class="form-group">
      <label for="sourceid">Source</label></p>
      <input type="text" name="source" id="sourceid" class="form-control" value="{{quote.source}}" />
    </div>
    <div class="form-group">
      <label for="notesid">Notes</label></p>
      <textarea name="notes" rows=8 cols=40 id="notesid" class="form-control" />{{quote.notes}}</textarea>
    </div>
    <p>Tags</p>
    <p>
    {% for t in tags %}
      <input type="checkbox" name="tags" value="{{t}}" checked>{{t}}<br>
    {% endfor %}
      <input type="checkbox" name="newtagcheck" value="new">
      <input type="text" name="newtag" id="newtagid">
    </p>
    <p><input class="button_style btn btn-primary" type="submit" value="Update" />
    <a class="button_style btn btn-danger" href="{% url 'quotes:detail' quote.id %}">Cancel</a>
    </p>
</form>

{% endblock %}
